{% extends "base1.html" %}
{% block page_title %}
    <h4>
        <ul style="padding-left: 0cap;">
            <li style="display: inline; color: white; background-color: rgba(0, 0, 255, 0.445); padding: 2%;">Home</li>
            <li style="display: inline;"><a href="{% url "login-signup" %}"  style="color: white; background-color: rgb(13, 13, 109); padding: 2%;" >Logout</a></li>
            <li style="display: inline;"><a href="{% url "profile" pk %}" style="color: white; background-color:rgba(0, 0, 255, 0.445); padding: 2%;" >Show Profile</a></li>
        </ul>
    </h4>
    <h1><a href="{% url "blog-post" pk %}">Create Post</a></h1>
    <h2>Blog Posts</h2>
{% endblock %}

{% block page_content %}
    {% block post %}
        {% for post in posts %}
            <h3><a href="{% url "blog-detail" post.pk %}">{{post.title|upper}}</a></h3>
            <small>
                {{post.created_on.date}}|Categories
                {% for category in post.categories.all %}
                <a href="{% url "blog-category" category.name %}">{{category.name}}</a>
                {% endfor %}
                <p>{{post.body|slice:"400"}}</p>
            </small>
        {% endfor %}
    {% endblock %}
{% endblock %}