{% extends "base1.html" %}
{% block page_title %}
    <div>
        <ul>
            <li style="display: inline; color: rgb(214, 93, 72); background-color: rgb(84, 20, 204); padding: 2%;">Home</li>
            <li style="display: inline; color: green; background-color: rgb(192, 204, 20); padding: 2%;"><a href="{% url "login-signup" %}">Logout</a></li>
            <li style="display: inline; color:green; background-color: rgb(24, 230, 75); padding: 2%;"><a href="{% url "profile" pk %}">Show Profile</a></li>
        </ul>
    </div>
    <h1><a href="{% url "blog-post" pk %}">Create Post</a></h1>
    <h2>Blog Posts</h2>
{% endblock %}

{% block page_content %}
    {% block post %}
        {% for post in posts %}
            <h3><a href="{% url "blog-detail" post.pk %}">{{post.title|upper}}</a></h3>
            <small>
                {{post.created_on.date}}|Categories
                {% for category in post.categories.all %}
                <a href="{% url "blog-category" category.name %}">{{category.name}}</a>
                {% endfor %}
                <p>{{post.body|slice:"400"}}</p>
            </small>
        {% endfor %}
    {% endblock %}
{% endblock %}